@import 'src/styles/variables';
@import 'src/styles/mixins';


.nav-link-logo {
  font-size: 18px;
  line-height: 27px;
  color: $primary;
  font-weight: 700;
  border: 2px solid $primary;
  padding: 9px 29px;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.nav-link {
  font-family: 'AvenirNextCyr-Medium', sans-serif;
  font-size: 16px;
  line-height: 16px;
  transition: 0.3s ease-in-out;
  color: $primary;
  &:hover {
    color: $primary;
    padding-bottom: 10px;
  }
}


.navbar {
  background-color: transparent;
  padding: 1.5rem 0;
  transition: all 0.1s ease-in-out;
  &__onLight {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
}
.nav {
  display: none;
  @include breakpoint('tablet') {
    display: flex;
  }
}

.phone-icon {
  margin-right: 10px;
}
.basket-icon {
  margin-left: 10px;
}
